@import "abstracts/_variables";
@import "fonts/roboto-font";
@import "fonts/material-icons.css";
@import "layout/_header";
@import "pages/_main";

/**
   CSS Reset START
**/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/**
   CSS Reset END
**/


.line {
    fill: none;
    stroke: #BBBBBB;
    stroke-width: 3;
}

.line2 {
    fill: none;
    stroke: #3f51b5;
    stroke-width: 3;
}

.axis text {
  font-size: 6px;
}

body {
  margin: 0;
  font-family: $fontFamily1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeded;
  color: rgb(22,25,31);
}